/**
 *  布局
 */
/**
 *  字体
 */
/**
 *  图像
 */
/**
 *  动效
 */
/**
 *  功能
 */
/**
 *  图形
 */
/**
 *  组件
 */
.dib {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: -webkit-linear-gradient(to right, #0396D6, #00C3BF);
  background: -o-linear-gradient(to right, #0396D6, #00C3BF);
  background: -moz-linear-gradient(to right, #0396D6, #00C3BF);
  background: linear-gradient(to right, #0396D6, #00C3BF);
  border-radius: 100px;
  width: 100%;
  height: 36px;
  line-height: 36px;
  color: #fff;
  text-align: center;
}
.btn:focus {
  outline: none;
}
.btn.btn-samll {
  padding: 2px 6px;
  border-radius: 12px;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
}
.color-green {
  color: #00C3BF !important;
}
.color-blue {
  color: #0396D6 !important;
}
.bg-green {
  background: #00C3BF !important;
}
.bg-blue {
  background: #0396D6 !important;
}
.cleart {
  *zoom: 1;
}
.cleart:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}
.pull-left {
  float: left;
  *display: inline;
  _display: inline;
}
.pull-right {
  float: right;
  *display: inline;
  _display: inline;
}
.main {
  background: #fafafa;
  padding-bottom: 60px;
}
.main-w {
  width: 1000px;
  margin: 0 auto;
}
.title {
  position: relative;
  padding-bottom: 20px;
}
.title h2 {
  font-size: 22px;
  line-height: 28px;
}
.title h2 span:nth-child(1) {
  margin-left: 25px;
}
.title h2 em {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #E9E9E9;
  margin: 0 5px;
}
.title p {
  color: #999;
  font-size: 12px;
}
.title:after {
  content: '';
  display: block;
  width: 44px;
  border: 2px solid #EEEEEE;
  position: absolute;
  bottom: 0;
  left: 0;
}
.title.title-noLine:after {
  display: none;
}
.tit h3 {
  font-size: 20px;
  line-height: 45px;
  color: #666;
}
.tit h3 span {
  font-weight: normal;
  margin-right: 15px;
}
.tit h3 span.titName {
  font-weight: bold;
}
.tit .line {
  width: 400px;
  height: 1px;
  background: #eee;
}
.tit i {
  font-style: normal;
}
.tit__1 h2 {
  font-size: 22px;
  line-height: 50px;
}
.tit__1 .line {
  width: 740px;
  height: 1px;
  background: #eee;
}
.article-list li {
  overflow: hidden;
  padding: 30px 20px;
  margin: 0 -25px;
  border-bottom: 1px solid #eee;
}
.article-list li dl {
  display: block;
  text-align: center;
  float: right;
}
.article-list li dl dt {
  font-size: 18px;
  line-height: 40px;
}
.article-list li dl dt img {
  margin: 9px auto;
}
.article-list li dl dd {
  line-height: 22px;
  color: #666;
}
.article-list li dl dd img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.article-list li dl dd .btn {
  margin-right: 10px;
}
.article-list li dl:nth-child(1) {
  text-align: left;
  float: left;
}
.article-list li dl:nth-child(3) {
  width: 300px;
}
.article-list li dl:nth-child(4) {
  width: 120px;
}
.article-list li dl:nth-child(5) {
  width: 200px;
}
.article-list li dl .btn-groups .btn {
  width: 110px;
  margin-top: 15px;
  display: inline-block;
}
.article-list li:hover {
  background: #F7F7F7;
}
.article-list li.dz dt img {
  margin: 5px auto;
}
.article-list li.color-disabled {
  color: #999;
}
.article-list li.color-disabled dd {
  color: #999;
}
.article-list li.color-disabled .btn {
  background: #bbb;
}
#page-navigation {
  text-align: right;
  padding: 25px;
}
#page-navigation a {
  display: inline-block;
  width: 21px;
  height: 21px;
  font-family: "宋体";
  border-radius: 50%;
  line-height: 21px;
  text-align: center;
  color: #0396D6;
  margin-left: 15px;
}
#page-navigation a.first-page,
#page-navigation a.prev,
#page-navigation a.next,
#page-navigation a.last-page {
  letter-spacing: -2px;
  border: 1px solid #ccc;
  color: #ccc;
  font-weight: bold;
  padding-right: 3px;
}
#page-navigation a.active {
  border-radius: 50%;
  background: #0396D6;
  color: #fff;
}
#page-navigation span {
  display: inline-block;
}
#page-navigation span.total-num {
  width: auto;
  color: #999!important;
  margin-left: 15px;
}
#page-navigation span.total-num span {
  margin-right: 25px;
}
#page-navigation span.total-num em {
  font-style: normal;
}
#page-navigation span.total-num .jump-ipt {
  width: 30px;
  border-radius: 10px;
  height: 20px;
  border: 1px solid #bbb;
  margin: 0 5px;
  text-align: center;
  font-size: 12px;
  color: #bbb;
}
#page-navigation span.total-num .jump-btn {
  background: none;
  color: #999;
  border: 1px solid #bbb;
  margin-left: 10px;
  padding: 1px 6px;
  border-radius: 12px;
  font-size: 12px;
  height: 22px;
  line-height: 18px;
  width: auto;
}
.modal {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.modal .modal-dialog {
  position: relative;
  width: 100%;
  height: 100%;
}
.modal .modal-dialog .modal-content {
  min-height: 150px;
  background: #fff;
  width: 840px;
  position: absolute;
  left: 50%;
  margin-left: -420px;
  top: 200px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.06);
  padding: 20px;
}
.modal .modal-dialog .modal-content .modal-header {
  font-size: 22px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.modal .modal-dialog .modal-content .modal-header .close {
  float: right;
  font-size: 50px;
  color: #0396D6;
  line-height: 26px;
  cursor: pointer;
}
#tipsInfo {
  position: fixed;
  width: 100%;
  top: 25px;
  left: 0;
  text-align: center;
}
#tipsInfo .info {
  display: inline-block;
  border: 1px solid #fde2e2;
  color: #f56c6c;
  padding: 10px 35px;
  border-radius: 4px;
  font-size: 16px;
  width: 380px;
  margin: 0 auto;
  text-align: left;
  background: #fef0f0 url(../images/common/info-error.png) no-repeat 15px center;
  background-size: 16px;
}
#tipsInfo .info.success {
  border: 1px solid #fde2e2;
  color: #67c23a;
  border-color: #e1f3d8;
  background: #f0f9eb url(../images/common/info-success.png) no-repeat 15px center;
  background-size: 16px;
}
.agreement {
  background: #FAFAFA;
  padding: 25px 0 35px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.06) inset;
}
.agreement .main-w {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.07);
  padding: 35px 40px 70px;
}
.agreement .main-w .title-header {
  font-size: 22px;
  border-bottom: 1px solid #eee;
  line-height: 50px;
  margin-bottom: 25px;
}
.agreement .main-w .con-p p {
  text-indent: 2em;
  font-size: 14px;
  color: #666666;
  line-height: 28px;
  margin-bottom: 45px;
}
.agreement .main-w .btn-groups {
  text-align: center;
}
.agreement .main-w .btn-groups .btn {
  display: inline-block;
  font-size: 16px;
  width: 240px;
  background: #0396D6;
}
