@import "./mixin.less";
.dib{
    .dib();
}
// 按钮样式
.btn{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    .bacground-to-right();
    border-radius: 100px;
    width: 100%;
    height: 36px;
    line-height: 36px;
    color: #fff;
    text-align: center;
    &:focus{
        outline: none;
    }
    &.btn-samll{
        padding: 2px 6px;
        border-radius: 12px;
        font-size: 12px;
        height: 22px;
        line-height: 22px;
    }
}
// 颜色样式
.color-green{
    color: @green!important;
}
.color-blue{
    color: @blue!important;
}
// 颜色样式
.bg-green{
    background: @green!important;
}
.bg-blue{
    background: @blue!important;
}
// 浮动
.cleart{
    .clearfix();
}
.pull-left{
    .fl();
}
.pull-right{
    .fr();
}

// 主体宽度
.main{
    background: #fafafa;
    padding-bottom: 60px;
}
.main-w {
    width: 1000px;
    margin: 0 auto;
}

// 公用标题
.title {
    position: relative;
    padding-bottom: 20px;
    h2 {
        font-size: 22px;
        line-height: 28px;
        span {
            &:nth-child(1) {
                margin-left: 25px;
            }
        }
        em {
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #fff;
            border: 2px solid #E9E9E9;
            margin: 0 5px;
        }
    }
    p {
        color: #999;
        font-size: 12px;
    }
    &:after {
        content: '';
        display: block;
        width: 44px;
        border: 2px solid #EEEEEE;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &.title-noLine{
        &:after {
            display: none;
        }
    }
}

.tit {
    h3 {
        font-size: 20px;
        line-height: 45px;
        color: #666;
        span {
            font-weight: normal;
            margin-right: 15px;
            &.titName{
                font-weight: bold;
            }
        }
    }
    .line {
        width: 400px;
        height: 1px;
        background: #eee;
    }
    i{
        font-style: normal;
    }
}
.tit__1{
    h2{
        font-size: 22px;
        line-height: 50px;
    }
    .line{
        width: 740px;
        height: 1px;
        background: #eee;
    }
}
// 默认列表展示
.article-list {
    li {
        overflow: hidden;
        padding:30px 20px;
        margin: 0 -25px;
        border-bottom:1px solid #eee;
        dl {
            display: block;
            text-align: center;
            float: right;
            dt {
                font-size: 18px;
                line-height: 40px;
                img{
                    margin: 9px auto;
                }
            }
            dd {
                line-height: 22px;
                color: #666;
                img{
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 5px;
                }
                .btn {
                    margin-right: 10px;
                }
            }
            &:nth-child(1) {
                text-align: left;
                float: left;
            }
            &:nth-child(3) {
                width: 300px;
            }
            &:nth-child(4) {
                width: 120px;
            }
            &:nth-child(5) {
                width: 200px;
            }
            .btn-groups{
                .btn {
                    width: 110px;
                    margin-top: 15px;
                    display: inline-block;
                }
            }
        }
        &:hover{
            background: #F7F7F7;
        }
        &.dz{
            dt {
                img{
                    margin: 5px auto;
                }
            }
        }
        &.color-disabled{
            color: #999;
            dd{
                color: #999;
            }
            .btn{
                background: #bbb;
            }
        }
    }
}

// 分页
#page-navigation{
    text-align: right;
    padding: 25px;
    a{
        display: inline-block;
        width: 21px;
        height: 21px;
        font-family: "宋体"; 
        border-radius: 50%;
        line-height: 21px;
        text-align: center;
        color: @blue;
        margin-left: 15px;
        &.first-page, &.prev, &.next, &.last-page{
            letter-spacing: -2px;
            border: 1px solid #ccc;
            color: #ccc;
            font-weight: bold;
            padding-right: 3px;
        }
        &.active{
            border-radius: 50%;
            background: @blue;
            color: #fff;
        }
    }
    span{
        display: inline-block;
        &.total-num{
            width: auto;
            color: #999!important;
            margin-left: 15px;
            span{
                margin-right: 25px;
            }
            em{
                font-style: normal;
            }
            .jump-ipt{
                width: 30px;
                border-radius: 10px;
                height: 20px;
                border: 1px solid #bbb;
                margin: 0 5px;
                text-align: center;
                font-size: 12px;
                color: #bbb;
            }
            .jump-btn{
                background: none;
                color: #999;
                border: 1px solid #bbb;
                margin-left: 10px;
                padding: 1px 6px;
                border-radius: 12px;
                font-size: 12px;
                height: 22px;
                line-height: 18px;
                width: auto;
            }
        }
    }
}

// 模态框
.modal{
    background: rgba(0,0,0,0.2);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    .modal-dialog{
        position: relative;
        width: 100%;
        height: 100%;
        .modal-content{
            width: 840px;
            min-height: 150px;
            background: #fff;
            .center(known-x, 840px);
            top: 200px;
            box-shadow: 0 2px 10px 0 rgba(0,0,0,0.06);
            padding: 20px;
            .modal-header{
                font-size: 22px;
                padding-bottom: 15px;
                .close{
                    float: right;
                    font-size: 50px;
                    color: @blue;
                    line-height: 26px;
                    cursor: pointer;
                }
                border-bottom: 1px solid #eee;
            }
        }
    }
}

// 消息提示
#tipsInfo{
    position: fixed;
    width: 100%;
    top: 25px;
    left: 0;
    text-align: center;
    .info{
        display: inline-block;
        border: 1px solid #fde2e2;
        color: #f56c6c;
        padding: 10px 35px;
        border-radius: 4px;
        font-size: 16px;
        width: 380px;
        margin: 0 auto;
        text-align: left;
        background:#fef0f0 url(../images/common/info-error.png) no-repeat 15px center;
        background-size: 16px; 
        &.success{
            border: 1px solid #fde2e2;
            color: #67c23a;
            border-color: #e1f3d8;
            background:#f0f9eb url(../images/common/info-success.png) no-repeat 15px center;
            background-size: 16px;
        }

    }
}

// 协议
.agreement{
    background: #FAFAFA;
    padding: 25px 0 35px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.06) inset;
    .main-w{
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.07);
        padding: 35px 40px 70px; 
        .title-header{
            font-size: 22px;
            border-bottom: 1px solid #eee;
            line-height: 50px;
            margin-bottom: 25px;
        }
        .con-p{
            p{
                text-indent: 2em;
                font-size: 14px;
                color: #666666;
                line-height: 28px;
                margin-bottom: 45px;
            }
        }
        .btn-groups{
            text-align: center;
            .btn{
                display: inline-block;
                font-size: 16px;
                width: 240px;
                background: @blue;
            }
        }
    }
}

// 暂无信息
.noInformation{
    margin: 0px auto;
    padding: 50px 0;
}