/**
 *  布局
 */
/**
 *  字体
 */
/**
 *  图像
 */
/**
 *  动效
 */
/**
 *  功能
 */
/**
 *  图形
 */
/**
 *  组件
 */
.personal {
  padding: 0;
}
.personal .personal-top {
  height: 140px;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
.personal .personal-top .personal-info {
  overflow: hidden;
  width: 330px;
  border-right: 1px solid #eee;
}
.personal .personal-top .personal-info .personal-img {
  float: left;
  margin-right: 20px;
  width: 100px;
  height: 100px;
}
.personal .personal-top .personal-info h3 {
  margin-top: 15px;
  font-size: 22px;
  line-height: 44px;
}
.personal .personal-top .personal-info h3 a {
  color: #0396D6;
  margin-left: 10px;
}
.personal .personal-top .personal-info p a {
  color: #999;
  padding-left: 20px;
  background: url(../images/common/edit.png) no-repeat left center;
}
.personal .personal-top .personal-info p.color-blue a {
  color: #0396D6;
  background: url(../images/common/edit-active.png) no-repeat left center;
}
.personal .personal-top .balance {
  width: 270px;
  padding: 20px 0 0 35px;
}
.personal .personal-top .balance h4 {
  font-size: 12px;
  color: #666;
  line-height: 24px;
}
.personal .personal-top .balance h4 img {
  vertical-align: middle;
  margin: -2px 5px 0 0;
}
.personal .personal-top .balance p {
  font-size: 24px;
  color: #999;
  line-height: 48px;
  font-weight: bold;
}
.personal .personal-top .balance p .btn {
  font-size: 12px;
  font-weight: normal;
  background: #00C3BF;
  padding: 3px 5px;
  margin-left: 90px;
}
.personal .personal-top .recharge {
  width: 300px;
  padding: 30px 0 0 0;
  text-align: right;
}
.personal .personal-top .recharge .btn-groups .btn {
  display: inline-block;
  width: 110px;
  margin-left: 20px;
  font-size: 16px;
  padding: 1px;
  box-sizing: initial;
  -moz-box-sizing: initial;
  -webkit-box-sizing: initial;
}
.personal .personal-top .recharge .btn-groups .btn.put-btn span {
  display: block;
  background: #fff;
  color: #0396D6;
  border-radius: 100px;
}
.personal .personal-bot {
  padding: 20px 0 60px;
}
.personal .personal-bot .left-menu {
  width: 180px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.04);
}
.personal .personal-bot .left-menu ul {
  padding: 20px 20px 0;
}
.personal .personal-bot .left-menu ul li {
  font-size: 14px;
  padding-bottom: 20px;
  text-align: center;
}
.personal .personal-bot .left-menu ul li:nth-child(2n) {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}
.personal .personal-bot .left-menu ul li a {
  color: #666;
  display: block;
}
.personal .personal-bot .left-menu ul li:nth-child(1) a {
  background: url(../images/common/personal-left-icon-1.png) no-repeat 15px center;
}
.personal .personal-bot .left-menu ul li:nth-child(1).current a {
  background: url(../images/common/personal-left-icon-hove-1.png) no-repeat 15px center;
}
.personal .personal-bot .left-menu ul li:nth-child(2) a {
  background: url(../images/common/personal-left-icon-2.png) no-repeat 15px center;
}
.personal .personal-bot .left-menu ul li:nth-child(2).current a {
  background: url(../images/common/personal-left-icon-hove-2.png) no-repeat 15px center;
}
.personal .personal-bot .left-menu ul li:nth-child(3) a {
  background: url(../images/common/personal-left-icon-3.png) no-repeat 15px center;
}
.personal .personal-bot .left-menu ul li:nth-child(3).current a {
  background: url(../images/common/personal-left-icon-hove-3.png) no-repeat 15px center;
}
.personal .personal-bot .left-menu ul li:nth-child(4) a {
  background: url(../images/common/personal-left-icon-4.png) no-repeat 15px center;
}
.personal .personal-bot .left-menu ul li:nth-child(4).current a {
  background: url(../images/common/personal-left-icon-hove-4.png) no-repeat 15px center;
}
.personal .personal-bot .left-menu ul li:nth-child(5) a {
  background: url(../images/common/personal-left-icon-5.png) no-repeat 15px center;
}
.personal .personal-bot .left-menu ul li:nth-child(5).current a {
  background: url(../images/common/personal-left-icon-hove-5.png) no-repeat 15px center;
}
.personal .personal-bot .left-menu ul li.current a {
  color: #0396D6;
}
.personal .personal-con {
  width: 800px;
  min-height: 300px;
  padding: 5px 10px 15px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.04);
}
.personal .personal-con .common-tab {
  padding-top: 15px;
}
.personal .personal-con .common-tab ul {
  overflow: hidden;
}
.personal .personal-con .common-tab ul li {
  float: left;
  cursor: pointer;
  width: 48%;
  margin: 0 1%;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 4px solid #eee;
  font-size: 16px;
  color: #666;
}
.personal .personal-con .common-tab ul li.active {
  font-weight: bold;
  border-bottom: 4px solid;
  border-image: linear-gradient(to right, #0396D6, #00C3BF) 30 30;
  border-image: -webkit-linear-gradient(to right, #0396D6, #00C3BF) 30 30;
  border-image: -moz-linear-gradient(to right, #0396D6, #00C3BF) 30 30;
}
.personal .personal-con .revenueRecord .tab-header {
  height: 90px;
}
.personal .personal-con .revenueRecord .tab-header ul {
  overflow: hidden;
}
.personal .personal-con .revenueRecord .tab-header ul li {
  float: left;
  cursor: pointer;
  width: 48%;
  margin: 0 1%;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 4px solid #eee;
}
.personal .personal-con .revenueRecord .tab-header ul li h3 {
  font-size: 12px;
  color: #666666;
  line-height: 30px;
}
.personal .personal-con .revenueRecord .tab-header ul li p {
  font-size: 24px;
  color: #999999;
  font-weight: bold;
}
.personal .personal-con .revenueRecord .tab-header ul li.active {
  border-bottom: 4px solid;
  border-image: linear-gradient(to right, #0396D6, #00C3BF) 30 30;
  border-image: -webkit-linear-gradient(to right, #0396D6, #00C3BF) 30 30;
  border-image: -moz-linear-gradient(to right, #0396D6, #00C3BF) 30 30;
}
.personal .personal-con .revenueRecord .tab-container .tips {
  font-size: 16px;
  color: #2A2A2A;
  line-height: 20px;
  text-align: center;
  margin: 50px 0 155px;
}
.personal .personal-con .revenueRecord .tab-container .dzInfo {
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  background: #00C3BF;
  color: #fff;
  border-radius: 100px;
  margin-bottom: 15px;
  padding: 0 25px;
  overflow: hidden;
  width: 400px;
}
.personal .personal-con .revenueRecord .tab-container .dzInfo .income {
  float: right;
}
.personal .personal-con .revenueRecord .tab-container .isTotalClass {
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  background: #0396D6;
  color: #fff;
  border-radius: 100px;
  margin-bottom: 15px;
  padding: 0 25px;
  overflow: hidden;
  width: 400px;
}
.personal .personal-con .revenueRecord .tab-container .isTotalClass .income {
  float: right;
}
.personal .personal-con .revenueRecord .revenueRecord-bot {
  border-top: 1px solid #eee;
  padding-top: 15px;
}
.personal .personal-con .revenueRecord .revenueRecord-bot .p-text {
  background: url(../images/common/ask-icon.png) no-repeat left 2px;
  padding-left: 15px;
  margin-bottom: 10px;
}
.personal .personal-con .revenueRecord .revenueRecord-bot .p-text p {
  color: #999;
}
