/**
 *  布局
 */
/**
 *  字体
 */
/**
 *  图像
 */
/**
 *  动效
 */
/**
 *  功能
 */
/**
 *  图形
 */
/**
 *  组件
 */
.main .tab-header {
  height: 80px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.main .tab-header ul {
  overflow: hidden;
  padding-top: 33px;
}
.main .tab-header ul li {
  float: left;
  width: 25%;
  text-align: center;
  padding: 0 2px;
}
.main .tab-header ul li a {
  padding: 10px 0;
  font-size: 16px;
  display: block;
  color: #666666;
  border-bottom: 4px solid #eee;
}
.main .tab-header ul li.current a {
  font-weight: bold;
  border-bottom: 4px solid;
  border-image: linear-gradient(to right, #0396D6, #00C3BF) 30 30;
  border-image: -webkit-linear-gradient(to right, #0396D6, #00C3BF) 30 30;
  border-image: -moz-linear-gradient(to right, #0396D6, #00C3BF) 30 30;
}
.main .hot-product .main-w {
  padding: 25px 0;
}
.main .hot-product .main-w .hot-product-list {
  overflow: hidden;
  margin: 0 -5px;
}
.main .hot-product .main-w .hot-product-list li {
  float: left;
  width: 25%;
  padding: 0 5px 5px;
}
.main .hot-product .main-w .hot-product-list li .hot-product-box {
  background: #fff;
  text-align: center;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.02);
  padding: 15px 15px;
  position: relative;
}
.main .hot-product .main-w .hot-product-list li .hot-product-box h3 {
  font-size: 14px;
  color: #333;
  margin: 15px 0;
}
.main .hot-product .main-w .hot-product-list li .hot-product-box .line {
  height: 2px;
  width: 100px;
  margin: 20px auto 30px;
  background: #eee;
}
.main .hot-product .main-w .hot-product-list li .hot-product-box h2 {
  font-size: 25px;
  line-height: 45px;
}
.main .hot-product .main-w .hot-product-list li .hot-product-box .tips {
  color: #bbb;
  margin-bottom: 40px;
}
.main .hot-product .main-w .hot-product-list li .hot-product-box .icon-img {
  margin-bottom: 10px;
}
.main .hot-product .main-w .hot-product-list li .hot-product-box .icon-img img {
  margin: 0 auto;
}
.main .hot-product .main-w .hot-product-list li .hot-product-box .icon-img p {
  text-align: center;
  line-height: 24px;
}
.main .hot-product .main-w .hot-product-list li .hot-product-box .num {
  color: #666;
  margin-bottom: 20px;
  font-size: 14px;
}
.main .hot-product .main-w .hot-product-list li .hot-product-box .progress {
  margin-bottom: 25px;
}
.main .hot-product .main-w .hot-product-list li .hot-product-box .progress .progress-line {
  height: 4px;
  background: #eee;
  border-radius: 100px;
}
.main .hot-product .main-w .hot-product-list li .hot-product-box .progress .progress-line span {
  display: block;
  height: 4px;
  border-radius: 100px;
  background: -webkit-linear-gradient(to left, #0396D6, #00C3BF);
  background: -o-linear-gradient(to left, #0396D6, #00C3BF);
  background: -moz-linear-gradient(to left, #0396D6, #00C3BF);
  background: linear-gradient(to left, #0396D6, #00C3BF);
}
.main .hot-product .main-w .hot-product-list li .hot-product-box .progress .progress-icon {
  margin-top: 10px;
}
.main .hot-product .main-w .hot-product-list li .hot-product-box .progress .progress-icon img {
  display: inline-block;
}
.main .hot-product .main-w .hot-product-list li .hot-product-box .hot-icon {
  position: absolute;
  right: 0;
  top: 0;
}
.main .tradeHall-con .main-w .article-con {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.04);
  background: #fff;
}
.main .tradeHall-con .main-w .article-con .article-list li {
  margin: 0;
}
.main .tradeHall-con .main-w .article-con .article-list li.dz dl dt {
  color: #00C3BF;
}
.main .tradeHall-con .main-w .article-con .article-list li.dz dl dd .btn {
  background: #00C3BF;
}
.main .tradeHall-con .main-w .article-con .article-list li.zcb dl dt {
  color: #0396D6;
}
.main .tradeHall-con .main-w .article-con .article-list li.zcb dl dd .btn {
  background: #0396D6;
}
.main .tradeHall-con .main-w .article-con .article-list li.disable dl dt {
  color: #999;
}
.main .tradeHall-con .main-w .article-con .article-list li.disable dl dd {
  color: #999;
}
.main .tradeHall-con .main-w .article-con .article-list li.disable dl dd .btn {
  background: #bbb;
}
.main .tradeHall-con .main-w .article-con .article-list li.disable dl .btn-groups .btn {
  background: #bbb;
}
.packageDetails {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.06) inset;
}
.packageDetails .details-top {
  padding: 25px 0;
}
.packageDetails .details-top .main-w .tit h3 {
  font-weight: bold;
}
.packageDetails .details-top .main-w .details-top-con {
  position: relative;
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.02);
  padding: 20px;
}
.packageDetails .details-top .main-w .details-top-con .con-box {
  padding: 45px;
}
.packageDetails .details-top .main-w .details-top-con .con-box .con-box-top {
  overflow: hidden;
  margin-bottom: 60px;
}
.packageDetails .details-top .main-w .details-top-con .con-box .con-box-top dl {
  float: left;
  width: 33.333%;
  text-align: center;
}
.packageDetails .details-top .main-w .details-top-con .con-box .con-box-top dl dt {
  font-size: 30px;
}
.packageDetails .details-top .main-w .details-top-con .con-box .con-box-top dl dd {
  font-size: 12px;
  color: #666;
}
.packageDetails .details-top .main-w .details-top-con .con-box .con-box-top dl dd img {
  display: inline-block;
  vertical-align: middle;
}
.packageDetails .details-top .main-w .details-top-con .con-box .con-box-top dl:nth-child(1) {
  text-align: center;
  padding-right: 80px;
}
.packageDetails .details-top .main-w .details-top-con .con-box .con-box-bot {
  font-size: 14px;
}
.packageDetails .details-top .main-w .details-top-con .con-box .con-box-bot .pull-left {
  width: 50%;
}
.packageDetails .details-top .main-w .details-top-con .con-box .con-box-bot .pull-left .progress .progress-icon {
  margin-bottom: 15px;
}
.packageDetails .details-top .main-w .details-top-con .con-box .con-box-bot .pull-left .progress .progress-icon .sold {
  font-size: 12px;
}
.packageDetails .details-top .main-w .details-top-con .con-box .con-box-bot .pull-left .progress .progress-icon img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 25px;
}
.packageDetails .details-top .main-w .details-top-con .con-box .con-box-bot .pull-left .progress .progress-line {
  height: 4px;
  background: #eee;
  border-radius: 100px;
}
.packageDetails .details-top .main-w .details-top-con .con-box .con-box-bot .pull-left .progress .progress-line span {
  display: block;
  height: 4px;
  border-radius: 100px;
  background: -webkit-linear-gradient(to left, #0396D6, #00C3BF);
  background: -o-linear-gradient(to left, #0396D6, #00C3BF);
  background: -moz-linear-gradient(to left, #0396D6, #00C3BF);
  background: linear-gradient(to left, #0396D6, #00C3BF);
}
.packageDetails .details-top .main-w .details-top-con .con-box .con-box-bot .pull-right {
  width: 240px;
  text-align: center;
  padding-right: 40px;
}
.packageDetails .details-top .main-w .details-top-con .hot-icon {
  position: absolute;
  top: 0;
  right: 0;
}
.packageDetails .details-bot .main-w {
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.02);
  padding: 20px;
}
.packageDetails .details-bot .main-w .article-list li {
  margin: 0;
  padding: 30px 0;
}
.packageDetails .details-bot .main-w .article-list li.dz dl dt {
  color: #00C3BF;
}
.packageDetails .details-bot .main-w .article-list li.dz dl dd .btn {
  background: #00C3BF;
}
.packageDetails .details-bot .main-w .article-list li.disable dl dt {
  color: #999;
}
.packageDetails .details-bot .main-w .article-list li.disable dl dd {
  color: #999;
}
.packageDetails .details-bot .main-w .article-list li.disable dl dd .btn {
  background: #bbb;
}
.packageDetails .details-bot .main-w .article-list li.disable dl .btn-groups .btn {
  background: #bbb;
}
.bidpriceBuy {
  padding: 40px 0;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.06) inset;
}
.bidpriceBuy .main-w {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
  padding: 30px;
  background: #fff;
}
.bidpriceBuy .main-w .tit {
  margin: 15px 0;
}
.bidpriceBuy .main-w .tit h3 {
  font-weight: bold;
}
.bidpriceBuy .main-w .tit h3 .subtit {
  font-size: 12px;
  color: #666;
  margin-left: 10px;
}
.bidpriceBuy .main-w .tit h3 .subtit img {
  display: inline;
  vertical-align: middle;
  margin: 0 5px;
}
.bidpriceBuy .main-w .current-price {
  font-size: 14px;
  margin: 20px 0;
}
.bidpriceBuy .main-w .current-price span {
  color: #0396D6;
  font-size: 24px;
  font-weight: bold;
}
.bidpriceBuy .main-w .bidpriceBuy-con {
  text-align: center;
}
.bidpriceBuy .main-w .bidpriceBuy-con p {
  font-size: 16px;
  line-height: 32px;
  color: #666;
}
.bidpriceBuy .main-w .bidpriceBuy-con p.price {
  font-size: 36px;
  color: #0396D6;
  font-weight: bold;
  margin: 20px 0 40px;
}
.bidpriceBuy .main-w .bidpriceBuy-con .line {
  height: 1px;
  background: #eee;
  width: 80%;
  margin: 30px auto 0;
}
.bidpriceBuy .main-w .bidpriceBuy-bot p {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin: 25px 0;
}
.bidpriceBuy .main-w .bidpriceBuy-bot p .btn {
  background: url(../images/common/rectangle.png) no-repeat left center;
  padding: 4px 11px 4px 20px;
}
.bidpriceBuy .main-w .bidpriceBuy-bot p .price {
  font-size: 16px;
  font-weight: bold;
  margin: 0 25px;
}
.bidpriceBuy .main-w .bidpriceBuy-bot .btn-groups {
  padding: 0 360px;
}
.bidpriceBuy .main-w .bidpriceBuy-bot .btn-groups .btn {
  font-size: 16px;
}
.bidpriceBuy .main-w .bidpriceBuy-bot .tips {
  font-size: 12px;
  text-align: center;
  margin-top: 35px;
}
.bidpriceBuy .main-w .bidpriceBuy-bot .tips .agreeCheck {
  width: 12px;
  height: 15px;
  vertical-align: middle;
}
.bidpriceBuy .main-w .bidpriceBuy-bot .tips a {
  color: #0396D6;
}
.biddingStation .biddingStation-con {
  text-align: center;
  padding-top: 30px;
}
.biddingStation .biddingStation-con p {
  font-size: 22px;
}
.biddingStation .biddingStation-con p.tips {
  font-size: 12px;
  color: #999;
  line-height: 24px;
}
.biddingStation .biddingStation-con .price-con {
  margin: 45px 0;
}
.biddingStation .biddingStation-con .price-con > div {
  width: 50%;
  text-align: center;
}
.biddingStation .biddingStation-con .price-con > div h4 {
  font-size: 16px;
  line-height: 32px;
}
.biddingStation .biddingStation-con .price-con > div p {
  font-size: 36px;
}
.biddingStation .biddingStation-con .line {
  width: 80%;
  height: 1px;
  background: #eee;
  margin: 0 auto;
}
.biddingStation .bidpriceBuy-bot .edit-price {
  text-align: center;
  padding: 35px 0 0;
}
.biddingStation .bidpriceBuy-bot .edit-price span {
  display: inline-block;
}
.biddingStation .bidpriceBuy-bot .edit-price span.edit-btn {
  font-size: 40px;
  line-height: 40px;
  margin: 0 15px;
  cursor: pointer;
}
.biddingStation .bidpriceBuy-bot .edit-price .price-num {
  width: 310px;
  margin: 0 auto;
  height: 68px;
  line-height: 68px;
  border-radius: 8px;
  background: #F0F0F0;
  font-size: 36px;
  padding: 0 15px;
  font-weight: bold;
}
.biddingStation .bidpriceBuy-bot .tips {
  margin-top: 10px!important;
}
.bidpriceSucess .main-w > .line {
  height: 1px;
  width: 80%;
  background: #eee;
  margin: 20px auto 15px;
}
.bidpriceSucess .main-w .bidpriceSucess-con .bidpriceSucess-logo {
  margin: 15px 0 30px;
}
.bidpriceSucess .main-w .bidpriceSucess-con .bidpriceSucess-logo img {
  margin: 0 auto;
}
.bidpriceSucess .main-w .bidpriceSucess-con .bidpriceSucess-logo h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
}
.bidpriceSucess .main-w .bidpriceSucess-con p {
  font-size: 16px;
  text-align: center;
}
.bidpriceSucess .main-w .bidpriceSucess-con p.price {
  font-size: 36px;
  font-weight: bold;
  margin-top: 10px;
}
.bidpriceSucess .main-w .bidpriceSucess-con p.time {
  font-size: 22px;
}
.bidpriceSucess .main-w .bidpriceSucess-con p.time span {
  font-weight: bold;
}
.bidpriceSucess .main-w .bidpriceSucess-con p.tips {
  font-size: 14px;
  font-weight: bold;
  line-height: 36px;
}
.bidpriceSucess .main-w .bidpriceSucess-con .line {
  height: 1px;
  width: 500px;
  background: #eee;
  margin: 45px auto 15px;
}
.buySuccess {
  padding: 40px 0;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.06) inset;
}
.buySuccess .main-w {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
  padding: 30px;
}
.buySuccess .main-w .img-logo img {
  margin: 0 auto;
}
.buySuccess .main-w .img-logo h2 {
  text-align: center;
  font-size: 26px;
  color: #0396D6;
  line-height: 60px;
  font-weight: bold;
}
.buySuccess .main-w .tit {
  margin: 15px 0;
}
.buySuccess .main-w .tit h3 {
  font-weight: bold;
}
.buySuccess .main-w .tit h3 .subtit {
  font-size: 12px;
  color: #666;
  margin-left: 10px;
}
.buySuccess .main-w .tit h3 .subtit img {
  display: inline;
  vertical-align: middle;
  margin: 0 5px;
}
.buySuccess .main-w .btn-groups {
  width: 240px;
  margin: 45px auto;
}
.buySuccess .main-w .btn-groups .btn {
  text-align: center;
  font-size: 16px;
}
.buySuccess .main-w .buyProcess ul li {
  position: relative;
  font-size: 14px;
  color: #999;
  padding: 0 0 35px 30px;
}
.buySuccess .main-w .buyProcess ul li h3 {
  line-height: 30px;
}
.buySuccess .main-w .buyProcess ul li:before {
  position: absolute;
  left: 0;
  top: 5px;
  content: '';
  display: block;
  width: 22px;
  height: 22px;
  background: #D3D3D3;
  border-radius: 50%;
}
.buySuccess .main-w .buyProcess ul li:after {
  position: absolute;
  left: 10px;
  top: -15px;
  content: '';
  display: block;
  width: 2px;
  height: 120px;
  background: #D3D3D3;
}
.buySuccess .main-w .buyProcess ul li.active {
  color: #666;
}
.buySuccess .main-w .buyProcess ul li.active:before {
  background: #0396D6;
}
.buySuccess .main-w .buyProcess ul li.active:after {
  background: #0396D6;
  top: 20px;
  height: 50px;
}
.buySuccess .main-w .buyProcess ul li:last-child:after {
  display: none;
}
.submitSuccess .tips {
  font-size: 14px;
  color: #666;
  text-align: center;
  margin-top: 40px;
}
.buyFail .img-logo h2 {
  color: #999!important;
}
.buyPackageModal .modal-body .tit h3 {
  font-weight: bold;
}
.buyPackageModal .modal-body .tit h3 .subtit {
  font-size: 12px;
  margin-left: 20px;
}
.buyPackageModal .modal-body .tit h3 .subtit img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.buyPackageModal .modal-body .modal-body-con {
  padding: 20px 0 40px;
}
.buyPackageModal .modal-body .modal-body-con p {
  font-size: 14px;
}
.buyPackageModal .modal-body .modal-body-con p span {
  font-size: 24px;
  font-weight: bold;
}
.buyPackageModal .modal-footer {
  border-top: 1px solid #eee;
  margin: 0 -20px;
  padding: 0 50px;
}
.buyPackageModal .modal-footer p {
  text-align: center;
  font-size: 14px;
  color: #666;
  margin: 25px 0;
}
.buyPackageModal .modal-footer p .price {
  font-size: 16px;
  font-weight: bold;
  margin: 0 25px;
}
.buyPackageModal .modal-footer p .btn {
  background: url(../images/common/rectangle.png) no-repeat left center;
  padding: 4px 11px 4px 20px;
}
.buyPackageModal .modal-footer .form-control {
  padding: 0 250px;
}
.buyPackageModal .modal-footer .form-control .payPassword {
  height: 36px;
  line-height: 36px;
  font-size: 12px;
  border-radius: 100px;
  margin-bottom: 25px;
  padding-left: 15px;
}
.buyPackageModal .modal-footer .btn-groups {
  padding: 0 250px;
}
.buyPackageModal .modal-footer .btn-groups .btn {
  font-size: 16px;
}
.buyPackageModal .modal-footer .tips {
  font-size: 12px;
  text-align: center;
  margin-top: 35px;
}
.buyPackageModal .modal-footer .tips .agreeCheck {
  width: 12px;
  height: 15px;
  vertical-align: middle;
}
.buyPackageModal .modal-footer .tips a {
  color: #0396D6;
}
.unpackModal .modal-dialog .modal-content {
  width: 500px;
  margin-left: -250px;
  height: 400px;
}
.unpackModal .modal-dialog .modal-content .modal-body {
  margin-bottom: 20px;
}
.unpackModal .modal-dialog .modal-content .modal-body img {
  margin: 0 auto;
}
.unpackModal .modal-dialog .modal-content .modal-body h3 {
  font-size: 26px;
  color: #999;
  font-weight: bold;
  text-align: center;
  line-height: 90px;
}
.unpackModal .modal-dialog .modal-content .modal-footer {
  border-top: 1px solid #eee;
  margin: 0 -20px;
  padding: 0 50px;
}
.unpackModal .modal-dialog .modal-content .modal-footer p {
  font-size: 14px;
  color: #999;
  text-align: center;
  line-height: 70px;
}
.unpackModal .modal-dialog .modal-content .modal-footer .btn-groups {
  padding: 0 100px;
}
.unpackModal .modal-dialog .modal-content .modal-footer .btn-groups .btn {
  font-size: 16px;
}
