@import "./mixin.less";
.main {
    .tab-header {
        height: 80px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        ul {
            overflow: hidden;
            padding-top: 33px;
            li {
                float: left;
                width: 25%;
                text-align: center;
                padding: 0 2px;
                a {
                    padding: 10px 0;
                    font-size: 16px;
                    display: block;
                    color: #666666;
                    border-bottom: 4px solid #eee;
                }
                &.current {
                    a {
                        font-weight: bold;
                        border-bottom: 4px solid;
                        border-image: linear-gradient(to right, #0396D6, #00C3BF) 30 30;
                        border-image: -webkit-linear-gradient(to right, #0396D6, #00C3BF) 30 30;
                        border-image: -moz-linear-gradient(to right, #0396D6, #00C3BF) 30 30;
                    }
                }
            }
        }
    }
    .hot-product {
        .main-w {
            padding: 25px 0;
            .hot-product-list {
                overflow: hidden;
                margin: 0 -5px;
                li {
                    float: left;
                    width: 25%;
                    padding: 0 5px 5px;
                    .hot-product-box {
                        background: #fff;
                        text-align: center;
                        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.02);
                        padding: 15px 15px;
                        position: relative;
                        h3 {
                            font-size: 14px;
                            color: #333;
                            margin: 15px 0;
                        }
                        .line {
                            height: 2px;
                            width: 100px;
                            margin: 20px auto 30px;
                            background: #eee;
                        }
                        h2 {
                            font-size: 25px;
                            line-height: 45px;
                        }
                        .tips {
                            color: #bbb;
                            margin-bottom: 40px;
                        }
                        .icon-img {
                            margin-bottom: 10px;
                            img {
                                margin: 0 auto;
                            }
                            p {
                                text-align: center;
                                line-height: 24px;
                            }
                        }
                        .num {
                            color: #666;
                            margin-bottom: 20px;
                            font-size: 14px;
                        }
                        .progress {
                            margin-bottom: 25px;
                            .progress-line {
                                height: 4px;
                                background: #eee;
                                border-radius: 100px;
                                span {
                                    display: block;
                                    height: 4px;
                                    border-radius: 100px;
                                    .bacground-to-left();
                                }
                            }
                            .progress-icon {
                                margin-top: 10px;
                                img {
                                    display: inline-block;
                                }
                            }
                        }
                        .hot-icon {
                            position: absolute;
                            right: 0;
                            top: 0;
                        }
                    }
                }
            }
        }
    }
    // 列表样式
    .tradeHall-con{
        .main-w{ 
            .article-con {
                box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.04);
                background: #fff;
                .article-list {
                    li {
                        margin: 0;
                        &.dz{
                            dl{
                                dt{
                                    color: @green;
                                }
                                dd{
                                    .btn{
                                        background: @green;
                                    }
                                }
                            }
                        }
                        &.zcb{
                            dl{
                                dt{
                                    color: @blue;
                                }
                                dd{
                                    .btn{
                                        background: @blue;
                                    }
                                }
                            }
                        }
                        &.disable{
                            dl{
                                dt{
                                    color: #999;
                                }
                                dd{
                                    color: #999;
                                    .btn{
                                        background: #bbb;
                                    }
                                }
                                .btn-groups{
                                    .btn{
                                        background: #bbb;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// 资产包详情
.packageDetails {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.06) inset;
    .details-top {
        padding: 25px 0;
        .main-w {
            .tit {
                h3 {
                    font-weight: bold;
                }
            }
            .details-top-con {
                position: relative;
                background: #fff;
                box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.02);
                padding: 20px;
                .con-box {
                    padding: 45px;
                    .con-box-top {
                        overflow: hidden;
                        margin-bottom: 60px;
                        dl {
                            float: left;
                            width: 33.333%;
                            text-align: center;
                            dt {
                                font-size: 30px;
                            }
                            dd {
                                font-size: 12px;
                                color: #666;
                                img {
                                    display: inline-block;
                                    vertical-align: middle;
                                }
                            }
                            &:nth-child(1) {
                                text-align: center;
                                padding-right: 80px;
                            }
                        }
                    }
                    .con-box-bot {
                        font-size: 14px;
                        .pull-left {
                            width: 50%;
                            .progress {
                                .progress-icon {
                                    margin-bottom: 15px;
                                    .sold {
                                        font-size: 12px;
                                    }
                                    img {
                                        display: inline-block;
                                        vertical-align: middle;
                                        margin-left: 25px;
                                    }
                                }
                                .progress-line {
                                    height: 4px;
                                    background: #eee;
                                    border-radius: 100px;
                                    span {
                                        display: block;
                                        height: 4px;
                                        border-radius: 100px;
                                        .bacground-to-left();
                                    }
                                }
                            }
                        }
                        .pull-right {
                            width: 240px;
                            text-align: center;
                            padding-right: 40px;
                        }
                    }
                }
                .hot-icon {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
    }
    .details-bot {
        .main-w {
            background: #fff;
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.02);
            padding: 20px;
            .article-list {
                li {
                    margin: 0;
                    padding: 30px 0;
                    &.dz{
                        dl{
                            dt{
                                color: @green;
                            }
                            dd{
                                .btn{
                                    background: @green;
                                }
                            }
                        }
                    }
                    &.disable{
                        dl{
                            dt{
                                color: #999;
                            }
                            dd{
                                color: #999;
                                .btn{
                                    background: #bbb;
                                }
                            }
                            .btn-groups{
                                .btn{
                                    background: #bbb;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// 竞价购买电站
.bidpriceBuy{
    padding: 40px 0;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.06) inset;
    .main-w{
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.04);
        padding: 30px;
        background: #fff;
        .tit{
            margin: 15px 0;
            h3{
                font-weight: bold;
                .subtit{
                    font-size: 12px;
                    color: #666;
                    margin-left: 10px;
                    img{
                        display: inline;
                        vertical-align: middle;
                        margin: 0 5px;
                    }
                }
            }
        }
        .current-price{
            font-size: 14px;
            margin: 20px 0;
            span{
                color: @blue;
                font-size: 24px;
                font-weight: bold;
            }
        }
        .bidpriceBuy-con{
            text-align: center;
            p{
                font-size: 16px;
                line-height: 32px;
                color: #666;
                &.price{
                    font-size: 36px;
                    color: @blue;
                    font-weight: bold;
                    margin: 20px 0 40px;
                }
            }
            .line{
                height: 1px;
                background: #eee;
                width: 80%;
                margin: 30px auto 0;
            }
        }
        .bidpriceBuy-bot{
            p{
                text-align: center;
                font-size: 14px;
                color: #666;
                margin: 25px 0;
                .btn{
                    background: url(../images/common/rectangle.png) no-repeat left center;
                    padding: 4px 11px 4px 20px;
                }
                .price {
                    font-size: 16px;
                    font-weight: bold;
                    margin: 0 25px;
                }
            }
            .btn-groups{
                padding: 0 360px;
                .btn{
                    font-size: 16px;
                }
            }
            .tips{
                font-size: 12px;
                text-align: center;
                margin-top: 35px;
                .agreeCheck {
                    width: 12px;
                    height: 15px;
                    vertical-align: middle;
                }
                a{
                    color: @blue;
                }
            }
        }
    }
}

// 正在竞价购买电站
.biddingStation{
    .biddingStation-con{
        text-align: center;
        padding-top: 30px; 
        p{
            font-size: 22px;
            &.tips{
                font-size: 12px;
                color: #999;
                line-height: 24px;
            }
        }
        .price-con{
            margin: 45px 0;
            >div{
                width: 50%;
                text-align: center;
                h4{
                    font-size: 16px;
                    line-height: 32px;
                }
                p{
                    font-size: 36px;
                }
            }
        }
        .line{
            width: 80%;
            height: 1px;
            background: #eee;
            margin:0 auto;
        }
    }
    .bidpriceBuy-bot{
        .edit-price{
            text-align: center;
            padding: 35px 0 0;
            span{
                display: inline-block;
                &.edit-btn{
                    font-size: 40px;
                    line-height: 40px;
                    margin: 0 15px;
                    cursor: pointer;
                }
            }
            .price-num{
                width: 310px;
                margin: 0 auto;
                height: 68px;
                line-height: 68px;
                border-radius: 8px;
                background: #F0F0F0;
                font-size: 36px;
                padding: 0 15px;
                font-weight: bold;
            }
        }
        .tips{
            margin-top: 10px!important;
        }
    }
}

.bidpriceSucess{
    .main-w{
        >.line{
            height: 1px;
            width: 80%;
            background: #eee;
            margin: 20px auto 15px;
        }
        .bidpriceSucess-con{
            .bidpriceSucess-logo{
                margin: 15px 0 30px;
                img{
                    margin:0 auto;
                }
                h3{
                    font-size: 16px;
                    font-weight: bold;
                    text-align: center;
                    line-height: 40px;
                }
            }
            p{
                font-size: 16px;
                text-align: center;
                &.price{
                    font-size: 36px;
                    font-weight: bold;
                    margin-top: 10px;
                }
                &.time{
                    font-size: 22px;
                    span{
                        font-weight: bold;
                    }
                }
                &.tips{
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 36px;
                }
            }
            .line{
                height: 1px;
                width: 500px;
                background: #eee;
                margin: 45px auto 15px;
            }
        }
    }
}

// 购买成功
.buySuccess{
    padding: 40px 0;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.06) inset;
    .main-w{
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.04);
        padding: 30px;
        .img-logo{
            img{
                margin:0 auto;
            }
            h2{
                text-align: center;
                font-size: 26px;
                color: @blue;
                line-height: 60px;
                font-weight: bold;
            }
        }
        .tit{
            margin: 15px 0;
            h3{
                font-weight: bold;
                .subtit{
                    font-size: 12px;
                    color: #666;
                    margin-left: 10px;
                    img{
                        display: inline;
                        vertical-align: middle;
                        margin: 0 5px;
                    }
                }
            }
        }
        .btn-groups{
            width: 240px;
            margin: 45px auto;
            .btn{
                text-align: center;
                font-size: 16px;
            }
        }
        .buyProcess{
            ul{
                li{
                    position: relative;
                    font-size: 14px;
                    color: #999;
                    padding:0 0 35px 30px;
                    h3{
                        line-height: 30px;
                    }
                    &:before{
                        position: absolute;
                        left: 0;
                        top: 5px;
                        content: '';
                        display: block;
                        width: 22px;
                        height: 22px;
                        background: #D3D3D3;
                        border-radius: 50%;
                    }
                    &:after{
                        position: absolute;
                        left: 10px;
                        top: -15px;
                        content: '';
                        display: block;
                        width: 2px;
                        height: 120px;
                        background: #D3D3D3;
                    }
                    &.active{
                        color: #666;
                        &:before{
                            background: @blue;
                        }
                        &:after{
                            background: @blue;
                            top: 20px;
                            height: 50px;
                        }
                    }
                    &:last-child{
                        &:after{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

// 提交成功
.submitSuccess{
    .tips{
        font-size: 14px;
        color: #666;
        text-align: center;
        margin-top: 40px;
    }
}

// 购买失败
.buyFail{
    .img-logo{
        h2{
            color: #999!important;
        }
    }
}

// 购买资产包模态框
.buyPackageModal {
    .modal-body {
        .tit {
            h3 {
                font-weight: bold;
                .subtit {
                    font-size: 12px;
                    margin-left: 20px;
                    img {
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 5px;
                    }
                }
            }
        }
        .modal-body-con {
            padding: 20px 0 40px;
            p {
                font-size: 14px;
                span {
                    font-size: 24px;
                    font-weight: bold;
                }
            }
        }
    }
    .modal-footer {
        border-top: 1px solid #eee;
        margin: 0 -20px;
        padding: 0 50px;
        p {
            text-align: center;
            font-size: 14px;
            color: #666;
            margin: 25px 0;
            .price {
                font-size: 16px;
                font-weight: bold;
                margin: 0 25px;
            }
            .btn {
                background: url(../images/common/rectangle.png) no-repeat left center;
                padding: 4px 11px 4px 20px;
            }
        }
        .form-control{
            padding:0 250px;
            .payPassword{
                height: 36px;
                line-height: 36px;
                font-size: 12px;
                border-radius: 100px;
                margin-bottom: 25px;
                padding-left: 15px;
            }
        }
        .btn-groups {
            padding: 0 250px;
            .btn {
                font-size: 16px;
            }
        }
        .tips {
            font-size: 12px;
            text-align: center;
            margin-top: 35px;
            .agreeCheck {
                width: 12px;
                height: 15px;
                vertical-align: middle;
            }
            a {
                color: @blue;
            }
        }
    }
}

// 无法打包购买模态框
.unpackModal {
    .modal-dialog {
        .modal-content {
            width: 500px;
            margin-left: -250px;
            height: 400px;
            .modal-body {
                margin-bottom: 20px;
                img {
                    margin: 0 auto;
                }
                h3 {
                    font-size: 26px;
                    color: #999;
                    font-weight: bold;
                    text-align: center;
                    line-height: 90px;
                }
            }
            .modal-footer {
                border-top: 1px solid #eee;
                margin: 0 -20px;
                padding: 0 50px;
                p {
                    font-size: 14px;
                    color: #999;
                    text-align: center;
                    line-height: 70px
                }
                .btn-groups {
                    padding: 0 100px;
                    .btn {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

